*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/mobilertc
/captures
.externalNativeBuild
.cxx
local.properties
SecretRingKey.gpg
jetmagic.keystore
Sign-Jetmagic.txt
jetmagic-public.pem
jetmagic-public.keystore


